{% extends "forms_gui/base.html" %}

{% block title %} {{ button_title }} {% endblock %}

{% block content %}
	<div class="container">
		<p class="h2 button-title">
			{{button_title}}
		</p>
	</div>

    {% for button in buttons %}
	<div class="btn-toolbar">
		{% if button.children.all %}
			<a class="btn btn-primary" href="{% url 'form-button' button.id %}">{{ button.title }}</a>
		{% else %}
			<a class="btn btn-primary" href="{% url 'form-body' form_id=button.form_body.id button_id=button.id %}">{{ button.form_body.title }}</a>
		{% endif %}
	</div>
	{% endfor %}

{% endblock %}