{% extends "forms_gui/base.html" %}

{% block title %} {{ form_body_title }} {% endblock %}

{% block content %}

    <p class="h2 form-body-title">{{ form_body_title }}</p>

    <!-- ['text', 'radio', 'dropdown', 'date', 'checkbox'] -->
    <form class="form" method='POST'>
    {% csrf_token %}
    {% for form_field in form_fields %}

        {% if form_field.type == 'dropdown' %}
        <div class="dropdown">
            <p class="h5">{{ form_field.title }}</p>
            <p class="text-muted">{{ form_field.details }}</p>
            <select name="{{ form_field.id }}"
                    class="custom-select"
                    id="inputGroupSelect"
                    required="{{ form_field.required }}"
            >
                <option selected value disabled>Выберите опцию...</option>
                {% for item in form_field.data %}
                <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
        </div>

        {% elif form_field.type == 'checkbox' %}
        <div class="checkbox-flex">
            <p class="h5">{{ form_field.title }}</p>
            <p class="text-muted">{{ form_field.details }}</p>
                {% for item in form_field.data %}
                    <div class="checkbox" >
                        <div>
                            <label class="option" for="{{ item }}" >
                                <span>{{ item }}</span>
                                <div class="super-background"></div>
                            </label>
                             <input
                                class="checkbox-input"
                                type="checkbox"
                                name="{{ form_field.id }}"
                                value="{{ item }}"
                                id="{{ item }}"
                             >
                        </div>
                    </div>
                {% endfor %}
        </div>

        {% elif form_field.type == 'radio' %}
        <p class="h5">{{ form_field.title }}</p>
        <p class="text-muted">{{ form_field.details }}</p>
        <div class="radio-flex">
            {% for item in form_field.data %}
                <div class="radio">
                    <div>
                        <label class="option" for="{{ item }}" >
                            <span>{{ item }}</span>
                            <div class="super-background"></div>

                        </label>

                        <input
                            class="radio-input"
                            type="radio"
                            name="{{ form_field.id }}"
                            id="{{ item }}"
                            value="{{ item }}"
                            required="{{ form_field.required }}"
                        >
                    </div>
                </div>
            {% endfor %}
        </div>

        {% elif form_field.type == 'text' %}
        <div class="text-field">
            <p class="h5">{{ form_field.title }}</p>
            <p class="text-muted">{{ form_field.details }}</p>
            <input name="{{ form_field.id }}"
                   type="text"
                   placeholder="Введите текст..."
                   required="{{ form_field.required }}"
            >
        </div>

        {% elif form_field.type == 'date' %}
        <div class="date-field">
            <p class="h5">{{ form_field.title }}</p>
            <p class="text-muted">{{ form_field.details }}</p>
            <input name="{{ form_field.id }}"
                   data-date-language="ru"
                   id="datepicker"
                   data-provide="datepicker"
                   type="text"
                   placeholder="Нажмите чтобы выбрать дату..."
                   class="date-field form-control"
                   required="{{ form_field.required }}"
            >
        </div>
        {% endif %}

    {% endfor %}


        <label for="consent">
            <input type="checkbox"
                   id="consent"
                   name="consent"
                   required="true">
            ДАЮ СВОЕ СОГЛАСИЕ на обработку персональных данных
        </label>

        <label for="approval">
            <input type="checkbox"
                   id="approval"
                   name="approval"
                   required="true"
            >
            ПОДТВЕРЖДАЮ правильность и корректность введенных данных
        </label>

        <input class="btn btn-success final-submit"
               type="submit"
               value="Отправить"
        >

    </form>
{% endblock %}
