{% extends "forms_gui/base.html" %}

{% block content %}
	<div class="container">
		<p class="h1">МФЦ</p>
	</div>

	<div class="container">
		<p class="h4">МНОГОФУНКЦИОНАЛЬНЫЙ ЦЕНТР</p>
	</div>

    {% for button in buttons %}
	<div class="btn-toolbar">
			<a class="btn btn-primary"  href=
				 '{% if button.children.all %}
					{% url "form-button" button.id %}
				 {% else %}
					{% url "form-body" form_id=button.form_body.id button_id=button.id %}
				 {% endif %}'>
				{{ button.title }}
			</a>
	</div>
	{% endfor %}

{% endblock %}