 .vagrant
.idea
.git
.venv
venv
*.pyc
.log
_static
_tmp
_media
bower_components/
node_modules/*
dump
celerybeat.pid
start.bat
setuptools*
version.py
pycache
supervisord.log
supervisord.pid
.coverage
assets/vendors
activate
static/uploads
media/
.python-version
.env