body {
    margin-top: 1rem;
}


.button-title {
    font-weight: bold;
    padding: 10px;
    text-align: center;

}

.btn-toolbar .btn {
    margin-left: auto;
    margin-right: auto;

}

.btn-primary {
    text-align: center;
    border-radius: 25px;
    padding: 10px 300px;
    margin: auto;
    font-size: 20px;

}

.btn-toolbar {
    padding: 10px;

}

